<div id="theme-toggle-btn" class="search-button align-icon" onclick="themeToggle.toggleModal()" title="Toggle Theme">
    <span class="search-icon">
        <i data-lucide="sun" class="theme-button-icon"></i>
    </span>
    <span class="search-text">Theme</span>
</div>
