body {
    /* 1. Widen the reading area (default is 700px) */
    --dg-content-max-width: 1000px;
    
    /* 2. Narrow the left sidebar (default is 250px) */
    --dg-filetree-width: 200px;
    --dg-filetree-min-width: 200px;
    
    /* 3. Extend the right TOC area all the way down */
    --dg-sidebar-container-height: 100%;
    --dg-toc-max-height: calc(100vh - 120px);
}
